
/* General styles */
*{
    margin: 0;
    box-sizing: border-box;
}
body{
    padding: 80px 25px 10px 25px;
    font-family: 'Roboto', 'sans-serif';
    background-image: url(./img/music-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #4096ee;
    /* height: 100vh; */
}

/* Navbar styles */
.header{
    background-image: linear-gradient(to bottom, rgb(19, 97, 252) 0%, rgb(197, 224, 255) 100%);
    position: fixed;
    height: 80px;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    /* display: none; */
}
.nav-bar{
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: inherit;
    max-width: 1400px;
    margin: 0 auto;
}
ul.nav-menu{
    display: flex;
    list-style: none;
    padding: 0;
}
.nav-menu-item{
    margin: 0 20px;
    min-width: max-content;
}

.nav-link{
    font-size: 15px;
    color: white;
    text-decoration: none;
}
    .nav-menu-link:hover{
        color: rgb(236, 168, 168);
        font-size: 16px;
        transition: 0.3s;
    }
.nav-menu-button{
    padding: 12px;
    border: 1px rgb(255, 255, 255) solid;
    border-radius: 5px;
    background-color: rgb(240, 67, 36);
}
    .nav-menu-button:hover{
        background-color: tomato;
        padding: 14px;
    }
.img-logo{
    max-height: 50px;
    margin-left: 10px;
}
    .nav-logo:hover{
        opacity: 0.7;
        transition: 0.1s;
    }

/* main styles */
.main{
    color: white;
    padding: auto;
    display: flex;
    padding: 0px 20px;
    height: 80vh;
    align-items: center;
}
.main-container{
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}
.main-title{
    font-size: 110px;
    letter-spacing: 5px;
    font-weight: bolder;
}
.main-subtext{
    margin-top: 10px;
    width: 35%;
    min-width: 250px;
    font-size: 20px;
}

/* footer */
.footer{
    /* margin-top: 35px; */
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
}
    .text-footer:hover{
        cursor: pointer;
        background-color: rgb(38, 91, 238);
    }